@use "../../globalStyle.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@media screen and (min-width: 1350px) {
  .main {
    margin: auto;
  }
  .section {
    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: helvetica;
    gap: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 40px;
    border-radius: 15px;
    .imgPerfil {
      border-radius: 50%;
      width: 25vw;
      max-width: 232px;
      max-height: 232px;
      aspect-ratio: 1;
      border: solid 5px rgb(42, 181, 236);
    }
    .h1 {
      font-size: 2em;
    }
    .h2 {
      font-size: 1em;
      font-weight: 100;
      padding-top: 5px;
      color: green;
    }
    .sobre {
      padding: 30px 0px;
    }
    .infos {
      display: flex;
      gap: 2vw;
      font-size: 0.9em;
      flex: 0 1 auto;
      min-width: 160px;
      flex-wrap: wrap;
      .info {
        display: flex;
        align-items: center;
        text-indent: 5px;
      }
    }
    .tags {
      display: flex;
      padding: 15px 0px;
      gap: 20px;
      .tag {
        font-size: 0.8em;
        border-radius: 10px;
        background-color: #d4e7d6;
        padding: 8px;
        color: #278733;
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
    .imgPerfil {
      border-radius: 50%;
      width: 25vw;
      max-width: 232px;
      max-height: 232px;
      aspect-ratio: 1;
      border: solid 5px rgb(42, 181, 236);
    }
    .h1 {
      font-size: 2em;
      text-align: center;
    }
    .h2 {
      font-size: 1em;
      font-weight: 100;
      padding-top: 5px;
      color: green;
      text-align: center;
    }
    .sobre {
      padding: 20px 0px;
      text-align: center;
    }
    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vw;
      font-size: 0.9em;
      flex: 0 1 auto;
      min-width: 160px;
      flex-wrap: wrap;
      .info {
        display: flex;
        align-items: center;
        text-indent: 5px;
      }
    }
    .tags {
      display: flex;
      justify-content: center;
      padding: 15px 0px;
      gap: 20px;
      .tag {
        font-size: 0.8em;
        border-radius: 10px;
        background-color: #d4e7d6;
        padding: 8px;
        color: #278733;
      }
    }
  }
}
