@use "../../globalStyle.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.tituloH1 {
  text-align: center;
  font-family: var(--fontHeader);
  color: var(--corPrincipal);
  font-weight: 700;
  padding: 90px;
  font-size: 60px;
}
.sectionCards {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
@media screen and (max-width: 1050px) {
  .sectionCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
  }
}
