@use "../../globalStyle.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.main {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .info {
    padding: 0px 5vw;
    h1 {
      font-family: "Source Sans 3", sans-serif;
      font-size: 6.5vw;
      font-weight: 700;
      color: var(--corPrincipal);
    }
    h2 {
      font-family: helvetica, sans-serif;
      font-size: 1.8vw;
      font-weight: 400;
      color: var(--corPrincipal);
    }
    .cadastrar {
      background-color: var(--corBotaoDestaque);
      color: white;
      margin: 5vh 0px 2vh 0px;
      height: 64px;
      width: 332px;
      font-size: 120%;
      font-weight: 600;
      font-family: "Source Sans 3", sans-serif;
    }

    .dados {
      display: flex;
      padding-top: 10px;
      justify-content: space-between;
    }
    .indicador {
      p:first-child {
        font-family: "Source Sans 3", sans-serif;
        font-size: 50px;
        font-weight: 700;
        color: var(--corPrincipal);
      }
      p {
        font-family: helvetica, sans-serif;
        font-size: 16px;
        color: var(--corPrincipal);
        font-weight: 400;
      }
    }
  }
  .imgHome {
    padding-right: 2vw;
  }
}
