@use "../../globalStyle.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.header {
  height: 10vh;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--corPrincipal);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.3rem;
  padding: 0px 1vw;
  position: relative;
  nav {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5vw;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.2);
    transition: 0.1s;
    cursor: pointer;
  }

  img {
    width: 5vw;
    min-width: 64px;
  }
  .imgPerfil {
    border-radius: 50%;
    border: 4px solid skyblue;
  }
}
.navUser {
  position: absolute;
  right: 0px;
  top: 10%;
  width: 150px;
  padding: 10px;
  background-color: var(--corPrincipal);
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 5px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
.closedNav {
  display: none;
}
