@use "../../globalStyle.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.header {
  height: 10vh;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--corPrincipal);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.3rem;
  padding: 0px 5vw;
  nav {
    width: 60vw;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
  }

  img {
    width: 5vw;
  }
  .imgPerfil {
    border-radius: 50px;
    border: 4px solid skyblue;
  }
}
