@use "../../globalStyle.scss" as *;

.footer {
  background-color: var(--corFooter);
  height: 10vw;
  min-height: 70px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
  }
}
