@use "../../globalStyle.scss" as *;

.footer {
  background-color: var(--corFooter);
  min-height: 70px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
  }
}
