@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --corPrincipal: #205691;
  --fontHeader: "Source-Sans 3", sans-serif;
  --corBotaoDestaque: #fd7267;
  --corFooter: #e9eff4;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100vh;
}
.ajustePaginas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.ajusteMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
